.material-icons_header {
    color: black;
    margin: 15px;
    cursor: pointer;
    display: flex;
}
.icons_header {
    width: 35px;
    transition: 2s;
}
.header_line {
    width: 100%;
    height: 50px;
    background-color: #f4f4f4;
}
.header {
    background-color: white;
}
.header_right {
    display: flex;
}
.header , .header_left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    margin: 0 40px;
}
.logo {
  width: 150px;
  padding: 15px;
}
.links {
    margin: 15px;
    font-size: 17px;
    transition: 2s;
}
div.links p , div.links a {
    text-decoration: none;
    color: rgb(97, 89, 89);
    cursor: pointer ;
}
div.links p:hover {
    color: black;

}
div.header_right a {
    text-decoration: none;
    color: black;
}
.search {
    background-color: black;
    color: white;
    margin: 0;
    position: relative;
    cursor: pointer;
}
.header_menu {
    display: flex;
    flex-direction: row;
    background-color:#f4f4f4 ;
}
.links_header_menu {
    font-size: 12px;
    border-left: 1px solid rgb(97, 89, 89);
    padding-left: 5px;
}
div.links_header_menu p {
    margin: 0px;
}
.search_field {
    position: absolute;
    top: 50px;
    width: 0px;
    right: 104px;
    transition: width 1s;
    padding: 0px;
    z-index: 0;
    display: flex;
    flex-direction: row;
    background-color: white;
}
.search_input {
    height: 66px;
    width: 80%;
    font-size: 17px;
    transition: width 1s;
    border: none;
    padding-left: 10px;
}
.close_none {
    display: none;
}
#search_label_input{
        width: 60px;
        display: none;
        cursor: pointer;
}
#searchBtn , #closeSearchBtn{
    padding: 15px;
}