@media all and (max-width: 1030px){
    div.main_link_info h2 {
        font-size: 3vw;
    }
    .info_snikers, .info_snikers_flowers {
        font-size: 2.5vw;
    }
    div.find_styles_part h1, div.trends_now h1, div.clothers_part h1, div.accessories_part h1 {
        margin-left: 20px;
        font-size: 36px;
    }
    .h1_open_forYS_part {
        margin-left: 55px;
        font-size: 36px;
    }
    .main_picture_and_link {
        margin: 0px 0px;
    }
    .flowers_types_part {
        margin: 0px 0px;
    }
    .platform_snikers_part {
        margin: 0px 0px;
    }
    div.main_link_info h2 {
    margin-left: 10px;
    font-size: 20px;
    } 
}

    @media all and (max-width: 1245px){
    div.table_links_big_box div {
        height: 153px;
    }
    .table_links_small_box {
        height: 156px;
    }
    div.main_link_info h2 {
        margin-left: 10px;
        font-size: 20px;
        } 
        .main_link_info, .flowers_link_info, .platform_link_info {
            bottom: 73px;
            z-index: 1;}
}

@media all and (max-width: 1660px) {
    .product_list_intrends{
    grid-template-columns: repeat(14,190px);
    }
    .container_goods {
        width: 1500px;
    }
}
@media (max-width: 1540px){
.container_goods {
    width: 1267px;
}
.product_list_intrends{
    grid-template-columns: repeat(14,180px);
    }
}
@media (max-width: 1190px) {
.product_list_intrends {
    grid-template-columns: repeat(14,166px);
}
.container_goods {
    width: 1000px;
}
}
@media (max-width: 874px) {
    .product_list_intrends {
        grid-template-columns: repeat(14,145px);
    }
    .container_goods {
        width: 705px;
    }
    .type_find_styles {
        grid-template-columns: repeat(2, 50%);
    }
    }
    @media (max-width: 600px) {
        div.table_links_big_box div {
            height: 100px;}
        .table_links_big_box {
         
            flex-direction: column;
        }
        }
