a {
    text-decoration: none;
    color: black;
}
.h2_main {
    margin-left: 65px;
}
.filter_panel {
    display: flex;
    flex-direction: row;
    border: 1px solid  rgb(179, 170, 170);
}
.fiter {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    border-right: 1px solid  rgb(179, 170, 170);
    padding-top: 20px;
    flex-grow: 1;
    position: relative;
    z-index: 80;
}
.found_good {
    width: 183px;
    border-right: 1px solid  rgb(179, 170, 170);
    padding: 18px 10px;
}
.sort {
    width: 200px;
    font-size: 13px;
    padding-left: 10px;
}
.resetFilterBtn{
    cursor: pointer;
    display: none;
}
.drop_down {
    position: relative;
    top: 6px;
    margin-left: -7px;
    margin-right: 14px;
}
#rotate_select_price_field , #rotate_select_type_field, #rotate_select_male_field, #rotate_select_color_field {
   transition: transform 200ms;
   position: relative;
    top: -7px;
}
.product_list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    margin: 20px 30px;
}
div.product_list img {
    width: 100%;
    object-fit: cover;
}
.good_card {
    position: relative;
    border: 1px solid white;
}
.good_card:hover {
    border: 1px solid  rgb(179, 170, 170);
}
div.good_card:hover > div.color_select_btn{
    display: flex;
    justify-content: space-around;
}
.select_price_field , .select_type_field , .select_size_field , .select_color_field , .select_male_field{
    position: absolute;
    top: 57px;
    left: 0px;
    display: none;
    background-color:#f4f4f4 ;
    flex-direction: column;
    width: 200px;
}
.select_type_field {
    left: 27%;
}
.select_color_field {
    left: 57%;
}
.select_male_field {
    left: 77%;
}
.price_select_item, .type_select_item, .color_select_item , .male_select_item{
    margin: 5px;
}
.price_choice , .type_choice , .color_choice , .male_choice , .size_choice {
    cursor: pointer;
}
.displayflex {
    display: flex;
}
.color_select_btn {
    position: absolute;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: white;
    text-align: center;
    display: none;
}
.small_text_colors {
    color: #b1a7a7;
    font-size: 14px;
}
.color_button {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    cursor: pointer;
}
.whiteBtn {
    background: white;
    border: 1px solid gray;
}
.vineBtn , .redBtnCanvasLow {
    background:#5c151d;
    border: 1px solid #5c151d;
}
.redBtn {
    background:#c20617;
    border: 1px solid red;
}
.greenBtn {
    background:#312805;
    border: 1px solid #312805;
}
.blackBtn , .blackKnitBtn , .blackKnitLowBtn , .blackBtnUltra{
    background: black;
    border: 1px solid black;
}
.blueBtn {
    background: #244c88;
    border: 1px solid #244c88;
}
.lightblueBtn {
    background-color:#57a09d ;
    border: 1px solid #57a09d;
}
.arrow_rotate{
    rotate: 180deg;
}
.turquoiseBtn {
    background-color:#7bc2a6;
    border: 1px solid #7bc2a6;
}
.grayBtn{
    background-color:#d0cdc5;  
    border: 1px solid #d0cdc5;
}
.hidden {
    display: none;
}
div.good_card p {
    padding-left: 15px;
}
select:hover { 
    background-color:black;
    color: white; 
}