.container_goods {
    width :1630px;
    margin: auto;
    overflow: hidden;
}
.product_list_intrends {
    display: grid;
    grid-template-columns: repeat(14,205px);
    height: 250px;
    width: 100%;
    margin-top: -45px;
    transform: translateX(0);
    transition: transform ease-in 0.2s
}
.chuck70_position {
    position: relative;
    left: 0px;
}
.good_card_trends img {
    width: 100%;
    display: block;
    object-fit: cover;
}
.good_card_trends p {
    font-size: 15px;
    margin-top: -15px;
}
.next , .previous {
    position: absolute;
    top:50px;
    font-size: 25px;
    right: 0px;
    background-color: white;
    border: none;
    cursor: pointer;
}
.previous {
    right: 38px;
}
.button_next:active {
    font-size: 20px;
}
.button_previous:active {
    font-size: 20px;
}